# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.ReportsLab.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\NIKITOS\RiderProjects\ReportsLab\.idea\.idea.ReportsLab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
